{{ partial "header.html" . }}
<article class="h-feed">
  <h1 class="p-name">{{ .Title }}</h1>
  <section>

  {{ .Content }}

  {{ range $.Site.Data.likes }}
    <div class="h-entry h-entry--stream">
      <svg class="h-entry__icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="3" stroke-linecap="square" stroke-linejoin="arcs"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
      <div>
        LIKES <a href="{{.originalPost}}" class="u-like-of" rel="nofollow" target="_blank">post</a> by <a href="{{.authorUrl}}" class="p-author h-card" rel="nofollow" target="_blank">{{.authorName}}</a><br>
      </div>
    </div>
    <hr>
  {{ end }}
  </section>
</article>
{{ partial "footer.html" . }}