{{ define "main" }}
<article class="h-feed">
  <header>
    <h1 class="p-name">{{ .Date.Format "January 2006" }}</h1>
  </header>
  <section>

  {{ .Content }}

  {{ range (.Paginator 100).Pages }}
    {{ .Render (printf "tpl_%s" .Params.layout) }}
  {{ end }}
  <ul class="paginator">
    <li><a {{ if .Paginator.HasPrev }}href="{{ .Paginator.Prev.URL }}"{{ end }}>< Previous</a></li>
    <li>{{.Paginator.PageNumber}}/{{.Paginator.TotalPages}}</li>
    <li><a {{ if .Paginator.HasNext }}href="{{ .Paginator.Next.URL }}"{{ end }}>Next ></a></li>
  </ul>
  </section>
</article>
{{ end }}