<div class="h-entry h-entry--stream">
	{{ if isset .Params "originalpost" }}
		<svg class="h-entry__icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="3" stroke-linecap="square" stroke-linejoin="arcs"><path d="M17 2.1l4 4-4 4"/><path d="M3 12.2v-2a4 4 0 0 1 4-4h12.8M7 21.9l-4-4 4-4"/><path d="M21 11.8v2a4 4 0 0 1-4 4H4.2"/></svg>
	{{ else }}
		<svg class="h-entry__icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="3" stroke-linecap="square" stroke-linejoin="arcs"><polygon points="16 3 21 8 8 21 3 21 3 16 16 3"></polygon></svg>
	{{end}}

	<div class="h-entry__content">
		{{ if isset .Params "originalpost" }}
			RT <a href="{{.Params.originalPost}}" rel="nofollow" target="_blank" class="u-repost-of">post</a> by <a href="{{.Params.authorUrl}}" class="p-author h-card" rel="nofollow" target="_blank" >{{.Params.authorName}}</a><br>
		{{ end }}
		<a href="{{ .Permalink }}" class="dt-published u-url">{{.Date.Format "January 2, 2006 15:04 MST" }}</a>
		{{ if isset .Params "inreplyto" }}
			- In reply of <a href="{{.Params.inreplyto}}" rel="nofollow" target="_blank" >this post</a>
		{{ end }}
		{{ if isset .Params "syndicateurl" }}
			- Also in:
			{{ range .Params.syndicateurl}}
				{{ $url := urls.Parse . }}
				<a href="{{.}}" class="u-syndication" target="_blank" >{{ $url.Host }}</a>
			{{end}}
		{{ end }}

		<span class="e-content">{{ .Content }}</span>

		{{ if isset .Params "media" }}
			{{ range .Params.media}}
				<a href="{{.}}" class="u-photo"><img src="{{.}}" alt=""></a>
			{{end}}
		{{ end }}
	</div>
</div>
<hr>