<nav class="post-nav clearfix">
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <a href="{{ site.baseurl }}" title="Previous Page" class="post-nav__button post-nav__button--prev">
                ← Newer Posts
            </a>
        {% else %}
            <a href="{{ site.baseurl }}page{{ paginator.previous_page }}/" class="post-nav__button post-nav__button--prev">
                ← Newer Posts
            </a>
        {% endif %}
    {% endif %}
    {% if paginator.next_page %}
        <a href="{{ site.baseurl }}page{{ paginator.next_page }}/" class="post-nav__button post-nav__button--next">
            Older Posts →
        </a>
    {% endif %}
</nav>
