<section class="wrapper profile">
        <a href="/about">
            <img class="profile__avatar" src="/assets/images/avatar.jpg"/>
        </a>
        <h1 class="profile__name">{{ site.author }}</h1>
        <h2 class="profile__extra">{{ site.description }}</h2>
		<h2 class="profile__extra"><a href="mailto:federicoscodelaro@gmail.com" target="_blank">Email</a> - <a href="https://github.com/pudymody" target="_blank">Github</a> - <a href="https://ar.linkedin.com/in/federicoscodelaro" target="_blank">Linkedin</a></h2>
</section>
