<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Today we are going to create an edit in place directive for angularjs. Here you got a demo so you can see what it&rsquo;s about or if you already have some knowledge about angular and just only want to read the code here its the repository
So, lets start building things. First, we need a simple structure for our project, and angular attributes so we can bootstrap it.
&lt;!doctype html&gt; &lt;html lang=&#34;en&#34; ng-app=&#34;App&#34;&gt; &lt;head&gt; &lt;meta charset=&#34;UTF-8&#34;&gt; &lt;title&gt;Document&lt;/title&gt; &lt;script src=&#34;https://ajax." />
    <meta property="og:site_name" content="Federico Scodelaro" />
    <meta property="og:title" content="Creating an edit-in-place in AngularJS | Federico Scodelaro"/>
    <meta property="og:description" content="Today we are going to create an edit in place directive for angularjs. Here you got a demo so you can see what it&rsquo;s about or if you already have some knowledge about angular and just only want to read the code here its the repository
So, lets start building things. First, we need a simple structure for our project, and angular attributes so we can bootstrap it.
&lt;!doctype html&gt; &lt;html lang=&#34;en&#34; ng-app=&#34;App&#34;&gt; &lt;head&gt; &lt;meta charset=&#34;UTF-8&#34;&gt; &lt;title&gt;Document&lt;/title&gt; &lt;script src=&#34;https://ajax." />
    <meta property="og:image" content="https://pudymody.github.io/static/me.jpg" />
    <meta property="og:url" content="https://pudymody.github.io/blog/2015-08-11-creating-an-edit-in-place-in-angularjs/" >
    <meta property="og:type" content="blog" />
    
      <meta property="article:published_time" content="2015-08-11 00:00:00 &#43;0000 UTC">
    
    <title>Creating an edit-in-place in AngularJS | Federico Scodelaro</title>
    <link rel="stylesheet" href="https://pudymody.github.io/static/style.css" />
    <link rel="shortcut icon" href="https://pudymody.github.io/static/favicon.png" type="image/png">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="https://pudymody.github.io/index.xml">
  </head>

  <body>
    <header>
      <nav>
        <ul>
          
          
          <li>
            <a href="https://pudymody.github.io/">/home/federico scodelaro</a>
          </li>
          
          
          <li>
            <a href="/blog">~/blog</a>
          </li>
          

          
          
          <li>
            <a href="/index.xml">~/subscribe</a>
          </li>
          

        </ul>
      </nav>
    </header>
<div class="article-meta">
<h1>Creating an edit-in-place in AngularJS</h1>
<h2 class="date">2015/08/11</h2>
</div>



<main>
<p>Today we are going to create an edit in place directive for angularjs. <a href="http://pudymody.github.io/angular-edit-in-place/">Here</a> you got a demo so you can see what it&rsquo;s about or if you already have some knowledge about angular and just only want to read the code <a href="https://github.com/pudymody/angular-edit-in-place">here</a> its the repository</p>

<p>So, lets start building things.
First, we need a simple structure for our project, and angular attributes so we can bootstrap it.</p>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-html" data-lang="html"><span style="color:#75715e">&lt;!doctype html&gt;</span>
&lt;<span style="color:#f92672">html</span> <span style="color:#a6e22e">lang</span><span style="color:#f92672">=</span><span style="color:#e6db74">&#34;en&#34;</span> <span style="color:#a6e22e">ng-app</span><span style="color:#f92672">=</span><span style="color:#e6db74">&#34;App&#34;</span>&gt;
&lt;<span style="color:#f92672">head</span>&gt;
	&lt;<span style="color:#f92672">meta</span> <span style="color:#a6e22e">charset</span><span style="color:#f92672">=</span><span style="color:#e6db74">&#34;UTF-8&#34;</span>&gt;
	&lt;<span style="color:#f92672">title</span>&gt;Document&lt;/<span style="color:#f92672">title</span>&gt;
	&lt;<span style="color:#f92672">script</span> <span style="color:#a6e22e">src</span><span style="color:#f92672">=</span><span style="color:#e6db74">&#34;https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js&#34;</span>&gt;&lt;/<span style="color:#f92672">script</span>&gt;
&lt;/<span style="color:#f92672">head</span>&gt;
&lt;<span style="color:#f92672">body</span> <span style="color:#a6e22e">ng-controller</span><span style="color:#f92672">=</span><span style="color:#e6db74">&#34;main&#34;</span>&gt;
&lt;/<span style="color:#f92672">body</span>&gt;
&lt;/<span style="color:#f92672">html</span>&gt;</code></pre></div>
<p>Now, we have to create our controller so we can bootstrap our app, and add an scope var to store our model.</p>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-js" data-lang="js"><span style="color:#66d9ef">var</span> <span style="color:#a6e22e">App</span> <span style="color:#f92672">=</span> <span style="color:#a6e22e">angular</span>.<span style="color:#a6e22e">module</span>(<span style="color:#e6db74">&#39;App&#39;</span>, [] );
	<span style="color:#a6e22e">App</span>.<span style="color:#a6e22e">controller</span>(<span style="color:#e6db74">&#39;main&#39;</span>, <span style="color:#66d9ef">function</span>( <span style="color:#a6e22e">$scope</span> ){
		<span style="color:#a6e22e">$scope</span>.<span style="color:#a6e22e">name</span> <span style="color:#f92672">=</span> <span style="color:#e6db74">&#39;Federico&#39;</span>;
	});</code></pre></div>
<p>Then, we need to create a new file called <em>edit-in-place.js</em> where we are going to make our directive (<em>im going to explain it after</em>)</p>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-js" data-lang="js"><span style="color:#66d9ef">var</span> <span style="color:#a6e22e">App</span> <span style="color:#f92672">=</span> <span style="color:#a6e22e">angular</span>.<span style="color:#a6e22e">module</span>(<span style="color:#e6db74">&#39;EditInPlace&#39;</span>, []);
<span style="color:#a6e22e">App</span>.<span style="color:#a6e22e">directive</span>(<span style="color:#e6db74">&#34;clickToEdit&#34;</span>, <span style="color:#66d9ef">function</span>() {
	<span style="color:#66d9ef">var</span> <span style="color:#a6e22e">editorTemplate</span> <span style="color:#f92672">=</span> <span style="color:#e6db74">&#39;&lt;div class=&#34;click-to-edit&#34;&gt;&#39;</span> <span style="color:#f92672">+</span>
							<span style="color:#e6db74">&#39;&lt;div ng-hide=&#34;view.editorEnabled&#34; ng-click=&#34;enableEditor()&#34; class=&#34;click-to-edit-value&#34;&gt;&#39;</span> <span style="color:#f92672">+</span>
								<span style="color:#e6db74">&#39;{{value}} &#39;</span> <span style="color:#f92672">+</span>
							<span style="color:#e6db74">&#39;&lt;/div&gt;&#39;</span> <span style="color:#f92672">+</span>
							<span style="color:#e6db74">&#39;&lt;div ng-show=&#34;view.editorEnabled&#34;&gt;&#39;</span> <span style="color:#f92672">+</span>
								<span style="color:#e6db74">&#39;&lt;input class=&#34;click-to-edit-input&#34; ng-model=&#34;view.editableValue&#34;&gt;&#39;</span> <span style="color:#f92672">+</span>
								<span style="color:#e6db74">&#39;&lt;a ng-click=&#34;save()&#34; class=&#34;click-to-edit-btn save&#34;&gt;Save&lt;/a&gt;&#39;</span> <span style="color:#f92672">+</span>
								<span style="color:#e6db74">&#39;&lt;a ng-click=&#34;disableEditor()&#34; class=&#34;click-to-edit-btn close&#34;&gt;Cancel&lt;/a&gt;.&#39;</span> <span style="color:#f92672">+</span>
							<span style="color:#e6db74">&#39;&lt;/div&gt;&#39;</span> <span style="color:#f92672">+</span>
						<span style="color:#e6db74">&#39;&lt;/div&gt;&#39;</span>;

	<span style="color:#66d9ef">return</span> {
		<span style="color:#a6e22e">restrict</span><span style="color:#f92672">:</span> <span style="color:#e6db74">&#34;A&#34;</span>,
		<span style="color:#a6e22e">replace</span><span style="color:#f92672">:</span> <span style="color:#66d9ef">true</span>,
		<span style="color:#a6e22e">template</span><span style="color:#f92672">:</span> <span style="color:#a6e22e">editorTemplate</span>,
		<span style="color:#a6e22e">scope</span><span style="color:#f92672">:</span> {
			<span style="color:#a6e22e">value</span><span style="color:#f92672">:</span> <span style="color:#e6db74">&#34;=clickToEdit&#34;</span>,
		},
		<span style="color:#a6e22e">controller</span><span style="color:#f92672">:</span> <span style="color:#66d9ef">function</span>(<span style="color:#a6e22e">$scope</span>, <span style="color:#a6e22e">$element</span>) {
			<span style="color:#a6e22e">$scope</span>.<span style="color:#a6e22e">view</span> <span style="color:#f92672">=</span> {
				<span style="color:#a6e22e">editableValue</span><span style="color:#f92672">:</span> <span style="color:#a6e22e">$scope</span>.<span style="color:#a6e22e">value</span>,
				<span style="color:#a6e22e">editorEnabled</span><span style="color:#f92672">:</span> <span style="color:#66d9ef">false</span>
			};

			<span style="color:#a6e22e">$scope</span>.<span style="color:#a6e22e">enableEditor</span> <span style="color:#f92672">=</span> <span style="color:#66d9ef">function</span>() {
				<span style="color:#a6e22e">$scope</span>.<span style="color:#a6e22e">view</span>.<span style="color:#a6e22e">editorEnabled</span> <span style="color:#f92672">=</span> <span style="color:#66d9ef">true</span>;
				<span style="color:#a6e22e">$scope</span>.<span style="color:#a6e22e">view</span>.<span style="color:#a6e22e">editableValue</span> <span style="color:#f92672">=</span> <span style="color:#a6e22e">$scope</span>.<span style="color:#a6e22e">value</span>;
			};

			<span style="color:#a6e22e">$scope</span>.<span style="color:#a6e22e">disableEditor</span> <span style="color:#f92672">=</span> <span style="color:#66d9ef">function</span>() {
				<span style="color:#a6e22e">$scope</span>.<span style="color:#a6e22e">view</span>.<span style="color:#a6e22e">editorEnabled</span> <span style="color:#f92672">=</span> <span style="color:#66d9ef">false</span>;
			};

			<span style="color:#a6e22e">$scope</span>.<span style="color:#a6e22e">save</span> <span style="color:#f92672">=</span> <span style="color:#66d9ef">function</span>() {
				<span style="color:#a6e22e">$scope</span>.<span style="color:#a6e22e">value</span> <span style="color:#f92672">=</span> <span style="color:#a6e22e">$scope</span>.<span style="color:#a6e22e">view</span>.<span style="color:#a6e22e">editableValue</span>;
				<span style="color:#a6e22e">$scope</span>.<span style="color:#a6e22e">disableEditor</span>();
			};
		}
	};
});</code></pre></div>
<p>Now im going to explain whats happening here.</p>

<p>In the first line, we are creating a module name <em>EditInPlace</em> to store our directive, and in the following one, we are declarating our directive called <em>clickToEdit</em>.
After that, we declare a var with our template, which works the following way.</p>

<ul>
<li>When the editor is disabled, we hide our first div which yous our value, and when clicked, we enable the editor.</li>
<li>When the editor is enabled, we show the second div which is our editor. It has an input binded to the model <em>editableValue</em>. And then the two inputs for Save and cancel.</li>
</ul>

<p>In our directive declaration we have to return an object with some properties ( <a href="https://docs.angularjs.org/guide/directive">You can read the docs for more info</a> ), here we are returning the following ones:</p>

<ul>
<li><em>restrict:</em> Here we define if our directive is restricted to an <strong>Attribute (A)</strong> , <strong>Element (E)</strong> or <strong>Class &copy;</strong>. In our case we are going to use attributes</li>
<li><em>replace:</em> Here we&rsquo;re telling angular to replace our element with our defined template</li>
<li><em>template:</em> I think its self explained, but in case not, it defines our directive template</li>
<li><em>scope:</em> This is one of the most imporant things in our template, here we are retrieving the attribute called click-to-edit and two-ways binding it to our scope, so whatever change made to it, will be reflected everywhere.</li>
<li><em>controller:</em> Here we define our controller functions. First, we set the editor as disabled, and store our attributed passed. Then we define our 3 main functions.

<ul>
<li>enableEditor: Here we set the editor as enabled, and retrieve the current value to our <em>internal</em> model.</li>
<li>disableEditor: We disable our editor (<em>Really?</em>)</li>
<li>save: Here we set our value to the current <em>internal</em> value and disable the editor.</li>
</ul></li>
</ul>

<p>Now, we have to append our script and inject it, so after our angular injection we are going to add our current file</p>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-html" data-lang="html">&lt;<span style="color:#f92672">script</span> <span style="color:#a6e22e">src</span><span style="color:#f92672">=</span><span style="color:#e6db74">&#34;https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js&#34;</span>&gt;&lt;/<span style="color:#f92672">script</span>&gt;
&lt;<span style="color:#f92672">script</span> <span style="color:#a6e22e">src</span><span style="color:#f92672">=</span><span style="color:#e6db74">&#34;edit-in-place.js&#34;</span>&gt;&lt;/<span style="color:#f92672">script</span>&gt;</code></pre></div>
<p>And in our app declaration we have to insert it as a dependency</p>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-js" data-lang="js"><span style="color:#66d9ef">var</span> <span style="color:#a6e22e">App</span> <span style="color:#f92672">=</span> <span style="color:#a6e22e">angular</span>.<span style="color:#a6e22e">module</span>(<span style="color:#e6db74">&#39;Ingresos&#39;</span>, [<span style="color:#e6db74">&#39;EditInPlace&#39;</span>] );</code></pre></div>
<p>Now we only need to add an element, add our new attribute and pass it our model of our scope</p>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-html" data-lang="html">&lt;<span style="color:#f92672">span</span> <span style="color:#a6e22e">click-to-edit</span><span style="color:#f92672">=</span><span style="color:#e6db74">&#34;name&#34;</span>&gt;&lt;/<span style="color:#f92672">span</span>&gt;</code></pre></div>
</main>