<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ if .Page.Summary }}{{ .Page.Summary }}{{ else }}{{ .Site.Params.Description }}{{ end }}" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <meta property="og:title" content="{{if ne .Title .Site.Title}}{{ .Title }} | {{end}}{{ .Site.Title }}"/>
    <meta property="og:description" content="{{ if .Page.Summary }}{{ .Page.Summary }}{{ else }}{{ .Site.Params.Description }}{{ end }}" />
    <meta property="og:image" content="{{ "/static/me.jpg" | absURL }}" />
    <meta property="og:url" content="{{ .Page.Permalink | absURL }}" >
    <meta property="og:type" content="blog" />
    {{ if .Page.Date }}
      <meta property="article:published_time" content="{{ .Page.Date }}">
    {{ end }}
    <title>{{if ne .Title .Site.Title}}{{ .Title }} | {{end}}{{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "/static/tufte.min.css" | absURL }}" />
    <link rel="shortcut icon" href="{{ "/static/favicon.png" | absURL }}" type="image/png">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ .Site.RSSLink }}">
  </head>

  <body>
    <nav class="main-nav">
      <ul>
        {{ if not .IsHome }}
          <li>
            <a href="/"><b>Federico Scodelaro</b></a>
          </li>
        {{ end }}
        <li>
          <a href="/blog">~/blog</a>
        </li>
        <li>
          <a href="/bookmarks">~/bookmarks</a>
        </li>
        <li>
          <a href="/likes">~/likes</a>
        </li>
        <li>
          <a href="/books">~/readlist</a>
        </li>
        <li>
          <a href="/stream">~/stream</a>
        </li>
        <li>
          <a href="/index.xml">~/rss</a>
        </li>
      </ul>
    </nav>
    {{ block "main" . }}{{ end }}
    {{ template "_internal/google_analytics_async.html" . }}
  </body>
</html>