<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ if .Page.Summary }}{{ .Page.Summary }}{{ else }}{{ .Site.Params.Description }}{{ end }}" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}"/>
    <meta property="og:description" content="{{ if .Page.Summary }}{{ .Page.Summary }}{{ else }}{{ .Site.Params.Description }}{{ end }}" />
    <meta property="og:image" content="{{ "/static/me.jpg" | absURL }}" />
    <meta property="og:url" content="{{ .Page.Permalink | absURL }}" >
    <meta property="og:type" content="blog" />
    {{ if .Page.Date }}
      <meta property="article:published_time" content="{{ .Page.Date }}">
    {{ end }}
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "/static/tufte.min.css" | absURL }}" />
    <link rel="shortcut icon" href="{{ "/static/favicon.png" | absURL }}" type="image/png">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ .Site.RSSLink }}">
  </head>

  <body>
    <header class="h-card">
      <a href="{{ .Site.BaseURL }}"><img src="/static/me.jpg" alt="Photo of Federico Scodelaro" class="u-photo"></a>
      <div>
        <div>
            Personal website of <a href="{{ .Site.BaseURL }}" class="p-name u-url">{{.Site.Title }}</a> AKA @<span class="p-nickname">pudymody</span> on <a target="_blank" href="https://twitter.com/pudymody" rel="me">twitter</a> - <a target="_blank" href="https://github.com/pudymody" rel="me">github</a> - <a target="_blank" href="https://telegram.me/pudymody" rel="me">telegram</a> - <a target="_blank" href="mailto:federicoscodelaro@gmail.com" rel="me" class="u-email">email</a>
        </div>
        <nav>
            <ul>
              {{ range .Site.Menus.main }}
              {{ $name := lower .Name }}
              <li>
                <a href="{{ .URL }}">~/{{ lower .Name }}</a>
              </li>
              -
              {{end}}
              {{ range .Site.Menus.feed }}
              {{ $name := lower .Name}}
              <li>
                <a href="{{ .URL }}">~/{{ lower .Name}}</a>
              </li>
              {{end}}
            </ul>
          </nav>
      </div>
    </header>
    <article>
