{{ define "main" }}
<article class="h-card">
	<h1><img src="/static/me.jpg" alt="Photo of Federico Scodelaro" class="u-photo"><span class="p-name">Federico Scodelaro</span> (<span class="p-nickname">pudymody</span>)</h1>

	<section>
		<h2 id="hola">Hola!</h2>
		<p class="p-note">My name is Federico, or <strong>pudymody</strong> as i call myself on the interwebz. Im a computer science student currently living in Argentina looking to improve and develope my skills. Fluid in Javascript, know CSS, HTML, and played with Rust and C#, but willing to learn any language or any technology.
			<br>
			<br>
			Sometimes i write about things in my <a href="/blog"><strong>blog</strong></a> and sometimes i make <a href="/experiments"><strong>experiments</strong></a>.
			<br>
			<br>
			Between the things i like are simplicity and minimalism, being owner of my own data (like <a href="/stream">tweets</a> and <a href="/bookmarks">bookmarks</a>), push technology to its absurd limits and read <a href="/books">books</a>.
			<br>
			<br>
			You could also find me in other places like <a target="_blank" rel="me" href="https://twitter.com/pudymody">Twitter</a> / <a target="_blank" rel="me" href="https://github.com/pudymody">Github</a> / <a target="_blank" rel="me" href="https://telegram.me/pudymody">Telegram</a> / <a target="_blank" rel="me" href="mailto:federicoscodelaro@gmail.com" class="u-email">Email</a>
		</p>
	</section>
</article>
{{ end }}
